@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


#everything {
    display:flex;
    flex-direction:column;
    align-items:center;
}
body {
    width:100%;
    height:100%;
    font-family: "Lato";
    margin:0px;
    overflow-x:hidden;
}

#footer-div {
    margin-bottom:15px;
}

/* Styling for general elements */
div {
    border: solid;
    border-width:0px;
}

input {
    width:300px;
    border-radius:20px;
    background-color:#F5F5F5;
    border-width:0px;
    height:30px;
    font-size:20px;
    color:gray;
    
    font-family:Lato;

    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
    Outline: none;
}

.submit-button{
    transition: color 0.5s;
    cursor:pointer;
    
    width:200px;
    height:55px;
    border-radius:20px;
    color:white;
    font-family:Lato;
    background-color:#6EDD7F;
    font-size:20px;
}

.submit-button:hover {
    transition: color 0.5s;
    color:black;
    background-color:lightgray;
}
